:root {
    --container-width: 1150px;
    --container-padding: 15px;

    --font-main: "Inter", sans-serif;
    --font-accent: "Poppins", sans-serif;
    --font-nav: "Space Grotesk", sans-serif;

    --page-bg: #ffffff;
    --black-bg: #141718;
    --black-bg_on-hover: #272727;

    --text-color: #121212;
    --text-accent: #377dff;
    --text-neutral: #141718;
    --text-white: #ffffff;
    --text-yellow: #ffaa00;

    --white: #ffffff;
    --white-shadow: #dfe1e3;
    --yellow: #ffaa00;
    --yellow-opaque: #edbf41;
    --gray: #343839;
    --gray-light: #6c7275;
    --sea-green: #38cb89;
    --french-raspberry: #c72c48;

    --laptop-size: 1199px;
    --tablet-size: 959px;
    --mobile-size: 599px;

    --transition-duration: 0.3s;
    --button-radius: 8px;
}

.dark {
    --page-bg: #252526;
    --text-color: #ffffff;
}
