.benefits {
    padding-block: 40px;

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--benefit-card-width), 1fr));
        column-gap: 24px;
        row-gap: 24px;
    }
}
