.hero-section {
    align-items: center;
    background-image: url("./../media/images/hero-bg/hero-bg@3x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: calc(100vh - (var(--tagline-height) + var(--header-height)));
    -webkit-user-drag: none;

    @media (max-width: 649px) {
        background-image: url("./../media/images/hero-bg/hero-bg-mobile@3x.jpg");
        background-position: center;
        align-items: start;
    }

    &__content {
        left: 50%;
        position: relative;
        width: 50%;

        @media (max-width: 649px) {
            left: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        &__header {
            font-family: var(--font-accent);
            font-size: 80px;
            font-weight: 500;
            letter-spacing: calc(-3em / 80);
            line-height: calc(84 / 80);
            margin-bottom: 8px;
            text-wrap: balance;

            @include tablet {
                font-size: 60px;
            }

            @media (max-width: 799px) {
                font-size: 50px;
            }

            @media (max-width: 649px) {
                text-align: center;
            }

            & > .accent {
                color: var(--text-accent);
            }
        }

        &__text {
            font-size: 20px;
            font-weight: normal;
            line-height: 1.6;
            margin-bottom: 28px;

            @include tablet {
                font-size: 18px;
                margin-bottom: 22px;
            }

            @media (max-width: 649px) {
                text-align: center;
            }
        }

        &__link {
            align-items: center;
            display: inline-flex;
            justify-content: center;
            padding-block: 12px;
            padding-inline: 56px;

            background-color: var(--black-bg);
            border-radius: var(--button-radius);
            color: var(--text-white);

            font-size: 18px;
            font-weight: 500;
            line-height: calc(32 / 18);
            letter-spacing: calc(-0.4em / 18);
            user-select: none;

            &:hover {
                background-color: var(--black-bg_on-hover);
            }

            @include tablet {
                font-size: 14px;
            }

            @media (max-width: 649px) {
                align-self: center;
            }
        }
    }
}
