.news-subscribe {
    display: grid;
    grid-template-columns: 360px min(37%, 540px) 360px;
    grid-template-areas: "left content right";
    justify-content: center;
    background-color: #dcdcda;

    @media (max-width: 749px) {
        display: block;
        background-color: transparent;
    }

    & picture {
        display: flex;

        @media (max-width: 749px) {
            display: none;
        }
    }

    & img {
        height: 360px;
        user-select: none;
        -webkit-user-drag: none;

        @include tablet {
            height: 300px;
        }

        @media (max-width: 949px) {
            height: 275px;
        }

        @media (max-width: 899px) {
            height: 250px;
        }

        @media (max-width: 749px) {
            display: none;
        }

        &.left {
            grid-area: left;
            margin-left: auto;
        }

        &.right {
            grid-area: right;
            margin-right: auto;
        }
    }

    &__content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 32px;

        @media (max-width: 749px) {
            padding-block: 95px;
            padding-inline: 32px;
        }

        @media (max-width: 649px) {
            padding-block: 64px;
        }

        @media (max-width: 549px) {
            padding-block: 42px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            align-items: center;
            color: var(--text-color);

            &__title {
                font-family: var(--font-accent);
                font-size: 40px;
                font-weight: 500;
                letter-spacing: calc(-0.4em / 40);
                line-height: calc(44 / 40);

                @include tablet {
                    font-size: 34px;
                }

                @media (max-width: 949px) {
                    font-size: 28px;
                }
            }

            &__invitation {
                font-size: 18px;
                font-weight: normal;
                line-height: calc(30 / 18);

                @include tablet {
                    font-size: 14px;
                }
            }
        }

        &__form {
            display: flex;
            column-gap: 8px;
            border-bottom: 1px solid var(--gray-light);
            padding-block: 12px;

            color: var(--text-gray);
            font-size: 16px;
            font-weight: normal;
            letter-spacing: calc(-0.4em / 16);
            line-height: calc(28 / 16);

            & > svg {
                color: var(--text-black-neutral);
            }

            &__email-field {
                color: var(--text-black-neutral);
                width: 100%;

                &::placeholder {
                    color: var(--text-gray);
                    opacity: 1;
                }
            }

            &__submit-btn {
            }
        }
    }
}
