.tagline {
    align-items: center;
    background-color: var(--black-bg);
    display: flex;
    font-family: var(--font-main);
    justify-content: center;
    position: relative;
    min-height: var(--tagline-height);
    max-height: var(--tagline-height);

    a {
        border-bottom: 1px solid currentColor;
        cursor: pointer;
        user-select: none;
    }

    & > .tagline__content {
        column-gap: 12px;
        display: flex;
        font-size: 14px;

        & > .tagline__content__text {
            align-items: center;
            color: var(--text-white);
            column-gap: 12px;
            display: flex;
            font-weight: 600;
        }

        & > .tagline__content__link {
            color: var(--text-yellow);
            column-gap: 4px;
            display: flex;
            font-weight: 500;
            line-height: 23px;
        }
    }

    & > .tagline__close {
        align-items: center;
        color: var(--gray);
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 16px;

        &:hover {
            color: var(--gray-light);
            transition-duration: var(--transition-duration);
        }
    }
}
